{{extend 'layout.html'}}
<h1> Testimonials about you </h1>
	<table>
	{{
	i = 0
	for t in testimonials:
        if i % 2 == 0:
	}}
	<tr>
    {{pass}}         
        <td>
			<div class="bs-docs-example">
        	<div class="head">{{=t['name']}}</div>        
	        	<div class="entry">
        			{{=t['content']}}
        		</div>
        		
        		<div class="small"> Posted on {{=t['time']}} </div> 
        		<div class="tail">[<a href={{=t['url']}}>{{if t['approved']:}} <i class="icon-remove"></i> Disapprove {{else:}} <i class="icon-ok"></i> Approve {{pass}}?</a>] </div>
			</div>
        </td>
    {{
        if i % 2:
    }}
    </tr>
    {{pass}}
    {{i += 1}}
	
	{{pass}}
    {{ if i % 2:}}
		</tr>
	{{pass}}
	</table>
